@import "./responsive.scss";
.layout{
   // background-color: rgb(33, 167, 120);
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 20px;
    margin-right: 20px;

    
    @include lg{
        background-color: blue;
        max-width: 1280px;
    }

    
    @include md{
        background-color: green;
        max-width: 768px;
    }


    @include sm{
        background-color: red;
        max-width: 640px;
    }
}